.feedback-list {
  max-height: 70vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
h3{
    color: #333;
}
.feedback-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  background: #f5f3f379;
}

.customer-name {
  margin-bottom: 8px;
}

.row {
  display: flex;
  margin-bottom: 6px;

}
.row span{
    font-weight: 500;
    margin-right: 30px;
    color: #333;

}

.rating-row {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 10px 0;
}

.stars svg {
  color: #f5b301;
}

.order {
  margin: 8px 0;
}

.date {
  text-align: right;
  font-size: 0.85rem;
  color: #666;
}
.icon{
    vertical-align: middle;
    font-size: 30px;
}
.row .icon{
    font-size: 20px;
}
.comments-section{
    display: flex;
    flex-direction: column;
    margin-top: 1px;
}

.comments-section p {
    margin:1px;
    color: #444;
}