.login-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9fafb;
    padding: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-card {
    background: #ffffff;
    padding: 2rem;
    width: 100%;
    max-width: 420px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-icon {
    color: #2563eb;
    margin-bottom: 1rem;
}

.login-title {
    font-size: 1.75rem;
    color: #111827;
    margin-bottom: 0.25rem;
}

.login-subtitle {
    color: #6b7280;
    margin-bottom: 1.5rem;
    font-size: 0.95rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login-form input {
    padding: 12px;
    font-size: 0.95rem;
    border-radius: 6px;
    border: 1px solid #d1d5db;
    outline: none;
}

.login-form input:focus {
    border-color: #2563eb;
}

.login-actions {
    margin-top: 10px;

}
.btn-div{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    display: flex;
}

/* BUTTONS */
.btn {
    padding: 10px 18px;
    font-size: 0.9rem;
    border-radius: 6px;
    min-width: 160px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    gap: 6px;
    font-weight: 600;
    margin:10px;
}

/* BACK BUTTON */
.btn-back {
    background: transparent;
    border: 1px solid #374151;
    color: #374151;
    flex: 1;
}

/* LOGIN BUTTON */
.btn-login {
    background-color: #2563eb;
    color: #ffffff;
    border: 1px solid #2563eb;
    flex: 1;
}

.btn:hover {
    transform: scale(1.03);
}

/* MOBILE */
@media (max-width: 480px) {
    .home-actions {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    .btn {
        max-width: 300px;
    }
    
}
